@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --primary: #f97316;
  --secondary: #1a1a1a;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
